@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Neo Display';
  src: url(./styles/fonts/NoeDisplay-Black.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neo Display';
  src: url(./styles/fonts/NoeDisplay-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neo Display';
  src: url(./styles/fonts/NoeDisplay-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neo Display';
  src: url(./styles/fonts/NoeDisplay-RegularItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  /* background-color: #d7e3e0; */
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .AppWrapper {
  max-width: 2560px;
  margin: 0 auto;
} */
